Pinz.Client.RemoteServiceConsumer/Service References/AdministrationServiceReference/AdministrationService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://pinzonline.com/services" elementFormDefault="qualified" targetNamespace="http://pinzonline.com/services" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://5a109c6b4fcb4234a03b4dad3883a59d.cloudapp.net/AdministrationService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://5a109c6b4fcb4234a03b4dad3883a59d.cloudapp.net/AdministrationService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Com.Pinz.Server.DataAccess.Model" />
  <xs:element name="ReadProjectsForCompanyId">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="companyId" type="q1:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadProjectsForCompanyIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Com.Pinz.Server.DataAccess.Model" minOccurs="0" name="ReadProjectsForCompanyIdResult" nillable="true" type="q2:ArrayOfProjectDO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadAllUsersForCompanyId">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="companyId" type="q3:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadAllUsersForCompanyIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Com.Pinz.Server.DataAccess.Model" minOccurs="0" name="ReadAllUsersForCompanyIdResult" nillable="true" type="q4:ArrayOfUserDO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadCompanyById">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="id" type="q5:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadCompanyByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Com.Pinz.Server.DataAccess.Model" minOccurs="0" name="ReadCompanyByIdResult" nillable="true" type="q6:CompanyDO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddUserToProject">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="userId" type="q7:guid" />
        <xs:element xmlns:q8="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="projectId" type="q8:guid" />
        <xs:element minOccurs="0" name="isProjectAdmin" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddUserToProjectResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveUserFromProject">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="userId" type="q9:guid" />
        <xs:element xmlns:q10="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="projectId" type="q10:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveUserFromProjectResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateProject">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Com.Pinz.Server.DataAccess.Model" minOccurs="0" name="project" nillable="true" type="q11:ProjectDO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateProjectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Com.Pinz.Server.DataAccess.Model" minOccurs="0" name="CreateProjectResult" nillable="true" type="q12:ProjectDO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateProject">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Com.Pinz.Server.DataAccess.Model" minOccurs="0" name="project" nillable="true" type="q13:ProjectDO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateProjectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Com.Pinz.Server.DataAccess.Model" minOccurs="0" name="UpdateProjectResult" nillable="true" type="q14:ProjectDO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteProject">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Com.Pinz.Server.DataAccess.Model" minOccurs="0" name="project" nillable="true" type="q15:ProjectDO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteProjectResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Com.Pinz.Server.DataAccess.Model" minOccurs="0" name="user" nillable="true" type="q16:UserDO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Com.Pinz.Server.DataAccess.Model" minOccurs="0" name="CreateUserResult" nillable="true" type="q17:UserDO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Com.Pinz.Server.DataAccess.Model" minOccurs="0" name="user" nillable="true" type="q18:UserDO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/Com.Pinz.Server.DataAccess.Model" minOccurs="0" name="UpdateUserResult" nillable="true" type="q19:UserDO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/Com.Pinz.Server.DataAccess.Model" minOccurs="0" name="user" nillable="true" type="q20:UserDO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUserResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>